<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Analysis</title>
    <link rel="stylesheet" href="/css/stlyes.css">
</head>
<body>
    <div class="container">
        <h1>Face Analysis</h1>
        <div class="video-container">
            <video id="video" autoplay></video>
        </div>
        <div id="results" class="results"></div>
    </div>
    <script src="/js/face.js"></script>
</body>
</html>
