<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Vision App</title>
    <link rel="stylesheet" href="/css/stlyes.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Vision of Your Own Computer</h1>
        <div class="options">
            <a href="/face" class="button">Face Analysis</a>
            <a href="/object" class="button">Object Detection</a>
            <a href="/filters" class="button">Filters</a>
        </div>
    </div>
</body>
</html>
